.bg_parichay_theme {
    background-color: #0088AF;
    background-image: url("../img/foot-back.jpg");
}

/* brand pic and its surrounding change color */
.layout-navbar-fixed .wrapper .sidebar-dark-orange .brand-link:not([class*="navbar"]) {
    background-color: #0088AF;
    background-image: url("../img/foot-back.jpg");
}

/* brand pic horizontal line */
[class*="sidebar-dark"] .brand-link {
    border-bottom: 1px solid #98a3ad;
}

/* Username dropdown color hover start */
.navbar-nav .nav-item.dropdown .dropdown-item:hover {
    background-color: #d4d7da;
    /* Set the desired dark color for dropdown items */
}

.navbar-nav .nav-item.dropdown .dropdown-item:hover a {
    color: #ffffff !important;
    /* Set the desired text color for dropdown items */
}

/* Username dropdown color hover end */


/* bhaskar buttons */
.bhaskar_button {
    position: sticky;
    top: 2.5rem;
    background-color: #9E9E9E;
    -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

/* sidebar active color orange */
.sidebar-dark-orange .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-orange .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #3b14fd;
    color: #bdc2c8;
}

.main-footer {
    background-image: url('../img/footer_g.png');
}