.bg_parichay_theme {
    background-color: #0088AF;
}

/* brand pic and its surrounding change color */
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
    background-color: #0088AF;
}

/* Username dropdown color hover start */
.navbar-nav .nav-item.dropdown .dropdown-item:hover {
    background-color: #d4d7da;
    /* Set the desired dark color for dropdown items */
}

.navbar-nav .nav-item.dropdown .dropdown-item:hover a {
    color: #ffffff !important;
    /* Set the desired text color for dropdown items */
}

/* Username dropdown color hover end */


/* bhaskar buttons */
.bhaskar_button {
    position: sticky;
    top: 2.5rem;
    background-color: #9E9E9E;
    -webkit-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
}